.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #9B9B9B;
}

@media only screen and (max-width: 450px) {
  .footer {
    font-size: 10px;
    margin-bottom: -10px;
  }
}