.App {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: url(./assets/runeterra-shurima-02.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 450px) {
    .main-heading {
        display: flex;
        width: 80%;
        top: 50px;
        font-size: 18px;
        line-height: 24px;
    }

    .main {
        width: 100%;
        max-width: 450px;
    }
}